<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>我的扭蛋</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="stylesheet" href="{% static 'article/css/article.css' %}">
</head>
<body>
{% include 'main/menu.html' %}
<h2>這裡會介紹我自己的扭蛋</h2>
<img class=imgone src="{% static 'article/img/1.png' %}">
<img src="{% static 'article/img/2.png' %}">
<img src="{% static 'article/img/3.png' %}">
<img src="{% static 'article/img/4.png' %}">
</body>
</html>
